/* color palette: #80EF80 */

* {
    font-family: Nunito, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

/* Signup Page */
.signup {
    background-color: #80EF80;
}
#header-signup {
    text-align: center;
    padding: .75rem 2.5rem;
}
#header-signup p{
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}

.page-container-signup {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-container {
    width: 35%;
    text-align: center;
}
#container-title {
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
    padding: .5rem 0;
    background-color: #3AD33A;
    border-radius: 25px 25px 0 0;
}
#signup-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 3rem ;
    background-color: #E0FEE0;
    border-radius: 0 0 25px 25px;
    gap: .75rem;
}
.signup-elem {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .15rem;
}
.signup-elem input {
    height: 2rem;
    border-radius: 25px;
    padding: .25rem;
    padding-left: 1rem;
} 
#signup-field button {
    width: 35%;
    background-color: #5AE35A;
    padding: .6rem .45rem .6rem .45rem;
    border-radius: 25px;
    font-weight: bold;
}
#signup-field button:hover {
    background-color: #80EF80;
    cursor: pointer;
}
#signup-field a {
    all: unset;
    color: #2EA7A7;
    text-decoration: underline;
}
#signup-field a:hover {
    color: #4FC7C7;
    cursor: pointer;
}

/* Login Page */
.login {
    background-color: #80EF80;
    overflow-y: hidden;
    overflow-x: hidden;
}
#circle1-login {
    z-index: 1;
    background-color: white;
    position:fixed;
    border-radius: 50%;
    width: 75rem;
    aspect-ratio: 1/1;
    right: -25rem;
    top: -17rem;
}
#circle2-login {
    z-index: 1;
    background-color: #E1FEE1;
    position:fixed;
    border-radius: 50%;
    width: 20rem;
    aspect-ratio: 1/1;
    right: 37rem;
    bottom: -8rem;
}
#circle3-login {
    z-index: 1;
    background-color: #ADF8AD;
    position:fixed;
    border-radius: 50%;
    width: 10rem;
    aspect-ratio: 1/1;
    right: 53rem;
    bottom: 2rem;
}
#login-container {
    z-index: 9;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 17.5rem;
    justify-content: center;
    height: 100%;
}
#login-field {
    display: flex;
    flex-direction: column;
}
#name {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    justify-content: center;
    left: 8.75rem;
    color: white;
}
#title{ 
    font-size: 7.5rem;
    height: 8.5rem;
    font-weight: bold;
}
#subtitle {
    text-align: right;
    font-size: 1.25rem!important;
}
#login-text {
    padding-left: .6rem;
    font-size: 2.5rem;
}
#login-field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 130%;
}
#login-field input{
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 25px;
    font-size: 1rem;
    
}
#login-field input::placeholder {
    font-size: 1rem;
}
#login-field button {
    border-radius: 25px;
    height: 2rem;
    background-color: #4FC7C7;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
#login-field button:hover {
    background-color: #A8F1F1;
    cursor: pointer;
}
#login-container a {
    all: unset;
    color: #2EA7A7;
    text-decoration: underline;
    cursor: pointer;
}
#login-container a:hover {
    color: #77DFDF;
}

/* Account Page */
#header-account {
    padding: .75rem 2.5rem;
    background-color: #80EF80;
    text-align: left;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}
.page-container-account {
    margin: .75rem 2.5rem;
}
.page-container-account h1 {
    margin-left: 1rem;
}
#profile-container {
    padding: 1.25rem;
    border-radius: 25px;
    border: 1px solid black;
}
#viewMode {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.account-head {
    font-size: 1.5rem;
}
.account-shown {
    font-size: 2rem;
}
#account-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: .5rem 0;
}
#account-buttons button {
    background-color: #4FC7C7;
    padding: .65rem 1rem;
    border-radius: 25px;
    font-size: 1rem;
}
#account-buttons button:hover {
    background-color: #A8F1F1;
    cursor: pointer;
}

/* Recover Page */
.recovery {
    background-color: white;
}
#header-recovery {
    text-align: center;
    padding: .75rem 2.5rem;
}
#header-recovery p{
    font-size: 3.5rem;
    font-weight: bold;
    color: #80EF80;
}
.page-container-recovery {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#recovery-title, .recovery-container {
    width: 30% ;
}
#recovery-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.recovery-container {
    /* text-align: center; */
    background-color: #80EF80;
    padding: .5rem 3rem;
    border-radius: 25px;
}
#recovery-message {
    margin: .5rem 0;
}
#recovery-subtitle {
    margin-bottom: .25rem;
}
#recovery-field {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-bottom: .5rem;
}
#recovery-field input {
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 25px;
}
#recovery-field button {
    background-color: #D3FA86;
    padding: .65rem;
    border-radius: 25px;
    font-weight: bold;
    width: 35%;
}
#recovery-field button:hover {
    background-color: #C5F662;
    cursor: pointer;
}
#remembered-pass {
    width: 35%;
}
#remembered-pass a {
    all: unset;
    color: #2EA7A7;
    text-decoration: underline;
    font-weight: bold;
}
#remembered-pass a:hover {
    color: #77DFDF;
    cursor: pointer;
}