<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "author" content = "width=device-width, initial-scale=1.0">

        <title>To-Do List</title>
        <link rel="icon" type="image/x-icon" href="./Images/Icons/Icon.png">  
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add,content_paste,gesture_select" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
        
        <!-- <script src="script.js" defer></script> -->
    </head>
    <body>
        <div class="header">
            <h1>To Do List:</h1>

            <select name="sort" id="sorting">
                <option value="priority-lev">Priority</option>
                <option value="date-added">Date Added</option>
                <option value="due-date">Due Date</option>
            </select>
            <button id="add-task"><span id="add-button" class="material-symbols-outlined">add</span>Add Task</button>
        </div>
        
        <div class="main-interface">
            <div id="task-box">
                {% if tasks %}
                    <ul>
                    {% for task in tasks %}
                        <li class="task 
                            {% if task[1] == 1 %}high{% elif task[1] == 2 %}medium{% else %}low{% endif %}"
                            data-id="{{ task[0] }}"
                            data-priority="{{ task[1] }}"
                            data-label="{{ task[2] }}"
                            data-task="{{ task[3] }}"
                            data-date="{{ task[4] }}"
                            data-time="{{ task[5] }}"
                            data-desc="{{ task[6] }}"
                            data-sub="{{ task[7] }}"
                            data-created="{{ task[8] }}">

                            <div class="priority-symbol">
                                {% if task[1] == 1 %}
                                <span>❗</span>
                                {% elif task[1] == 2 %}
                                <span>💡</span>
                                {% else %}
                                <span>📝</span>
                                {% endif %}
                            </div>
                            <div class="task-label"><strong>{{ task[2] }}</strong></div>
                            <span class="line">|</span>

                            <div class="task-info">
                                <div class="task-details">
                                    <span class="task-desc">{{ task[3] }} </span><br>
                                    <span class="due-date">{{ task[4] | format_date }} | {{ task[5] | format_time }}</span>
                                </div>
                            </div>

                            <div class="checkbox-stamp-wrapper">
                                <input type="checkbox" class="task-check">
                                <span class="time-stamp"><em>Created at: {{ task[8] | format_timestamp }}</em></span>
                            </div>
                            
                        </li>
                    {% endfor %}
                    </ul>

                {% else %}
                    <div class="empty-prompt">
                        <span class="material-symbols-outlined">content_paste</span>
                        <p>No tasks to accomplish</p>
                    </div>
                {% endif %}  
            </div>

            <div id="task-view-box">

                <div id="empty-view" class="empty-view">
                    <span class="material-symbols-outlined">gesture_select</span>
                    <p>No task selected</p>
                </div>

                <div id="task-details" class="hidden"></div>

                 <form id="task-form" method="POST" action="{{ url_for('add') }}" class="hidden">
                    <h2>Add New Task</h2>

                    <label>Priority Level:</label> <br>
                    <input type="radio" name="priority" value=1 required> Highest Priority
                    <input type="radio" name="priority" value=2 required> Mid Priority
                    <input type="radio" name="priority" value=3 required> Low Priority 

                    <br>
                    <label>Label:</label> 
                    <input type="text" name="label" required><br>

                    <label>Task Name:</label>
                    <input type="text" name="task_name" required><br>

                    <label>Date:</label>
                    <input type="date" name="date"><br>

                    <label>Time:</label>
                    <input type="time" name="time"><br>

                    <label>Description:</label>
                    <textarea name="task_desc"></textarea><br>

                    <label>Sub-Tasks:</label>
                    <input type="text" name="sub_todo"><br>

                    <button type="submit">Save Task</button>
                </form>
            </div>
        </div>

        <div id="toast" class="toast hidden">
            <span id="toast-message"></span>
            <button id="undo-btn">Undo</button>
        </div>

        
        
    </body>

    <script>
    // Pass Flask flash message into JS
            window.flashMessage = "{{ get_flashed_messages()[0] if get_flashed_messages() else '' }}";
    </script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</html>