<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name= "author" content = "width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add,content_paste,gesture_select" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account-styling.css') }}">
        <title>Login</title>
    </head>

    <body class="login">
        <div class="page-container-login">
            <div id="circle1-login"></div>
            <div id="circle2-login"></div>
            <div id="circle3-login"></div>
            <div id="login-container">
                <p id="login-text">Let's get to work!</p>
                <!-- Flash messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <ul style="list-style:none; padding:0;">
                        {% for category, message in messages %}
                        <li>
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}

                <form method="POST">
                    <!-- <label for="username">Username:</label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                    <br> -->
                    <div id="login-field">
                        <input type="email" placeholder="Enter your email" name="email" required>

                        <input type="password" placeholder="Enter your password" name="password" required>

                        <button type="submit">Log In</button>
                    </div>
                </form>
                                <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up here!</a></p>
                <p>Forgot you password? <a href="{{ url_for('recover') }}">Recover it here.</a></p>
            </div>
            <div id="login-name">
                <p id="title">TooDoo</p>
                <p id="subtitle">Your favorite to-do list app!</p>
            </div>
        </div>
    </body>
</html>

