<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name= "author" content = "width=device-width, initial-scale=1.0">

        <title>Login</title>
    </head>

    <body>
        <h2>Login</h2>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul style="list-style:none; padding:0;">
                {% for category, message in messages %}
                <li>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        <form method="POST">
            <!-- <label for="username">Username:</label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <br> -->

            <label for="email">Email:</label>
            <input type="email" placeholder="Enter Email" name="email" required>
            <br>

            <label for="password">Password:</label>
            <input type="password" placeholder="Create Password" name="password" required>


            <button type="submit">Log In</button>
        </form>

        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>

    </body>
</html>

