<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name= "author" content = "width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add,content_paste,gesture_select" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='account-styling.css') }}">

        <title>Sign Up</title>
    </head>

    <body class="recovery">
        <div id="circle1-recovery"></div>
        <div id="circle2-recovery"></div>
        <div id="circle3-recovery"></div>
        <div id="header-recovery">
            <p>TooDoo</p>
        </div>

        <div class="page-container-recovery">
            <div id="recovery-title"> <p>Password Recovery</p> </div>
            
            <div class="recovery-container">
                <div id="recovery-message">
                    {% if message %}
                    <p>{{ message }}</p>
                    <p>Please set a new password below.</p>
                    {% else %}
                        <p id="recovery-subtitle">Enter your email below to change your password.</p>
                    {% endif %}
                </div>
                
                <form method="POST">
                    <div id="recovery-field">
                        {% if not reset_mode %}
                            <input type="email" placeholder="Email" name="email" required>
                            <button type="submit" name="action" value="check_email">Change Password</button>
                        {% else %}
                            <input type="password" placeholder="Enter new password" name="new_password" required>
                            <input type="password" placeholder="Confirm new password" name="confirm_password" required>
                            <button type="submit" name="action" value="reset_password">Set New Password</button>
                        {% endif %}
                    </div>
                </form>
                <div id="recovery-message">
                    {% if error %}
                        <p>{{ error }}</p>
                    {% endif %}
                </div>

            </div>
            <div id="remembered-pass"><p>Remembered your password? <a href="{{ url_for('login') }}">Log In</a></p></div>
        </div>
    </body>
</html>
