<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name= "author" content = "width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add,content_paste,gesture_select" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='account-styling.css') }}">

        <title>Sign Up</title>
    </head>

    <body class="signup">
        <div class="page-container-signup">
            <div id="circle1-signup"></div>
            <div id="circle2-signup"></div>
            <div id="circle3-signup"></div>
            <div class="signup-container">
                <p id="signup-container-title">Create an Account</p>
                <form method="POST">
                    <div id="signup-field">
                        <div id="signup-row">
                            <div class="signup-elem">
                                <label for="fname">First Name</label>
                                <input type="text" placeholder="Please enter your first name" name="fname" required>
                            </div>

                            <div class="signup-elem">
                                <label for="lname">Last Name</label>
                                <input type="text" placeholder="Please enter your last name" name="lname" required>
                            </div>
                        </div>
                        <div id="signup-row">
                            <div class="signup-elem">
                                <label for="username">Username</label>
                                <input type="text" placeholder="Please enter your username" name="username" required>
                            </div>
                            
                            <div class="signup-elem">
                                <label for="email">Email</label>
                                <input type="email" placeholder="Please enter your email" name="email" required>
                            </div>
                        </div>
                        <div id="signup-row">
                            <div class="signup-elem">
                                <label for="password">Password</label>
                                <input type="password" placeholder="Please enter your password" name="password" required>
                            </div>
                            <div class="signup-elem">
                                <label for="password">Confirm Password</label>
                                <input type="password" placeholder="Please confirm your password" name="confirm_password" required>
                            </div>
                        </div>
                        {% if error %}
                            <p>{{ error }}</p>
                        {% endif %}                        
                        <button type="submit">Sign Up</button>
                        <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
                    </div>
                </form>
                <div id="signup-name">
                    <p id="signup-title">Register now!</p>
                    <p id="signup-subtitle">Never miss a task with TooDoo.</p>
                </div>
            </div>
            
        </div>



    </body>
</html>

